name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  biome:
    name: Run staticcheck with Biome
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/composite-actions/cache-and-install

      - name: Biome
        shell: bash
        run: |
          bun run check

  typecheck:
    name: Run typecheck
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/composite-actions/cache-and-install

      - name: Typecheck
        shell: bash
        run: |
          bun run typecheck
